.container{
    display: grid;
    /* gap: 50px; */
    /* grid-template-columns: repeat(3, 1fr) 2fr; */
    /* grid-template-columns: 100px 200px auto 150px; */
    grid-template-columns: 1fr 2fr 3fr 4fr;
    grid-template-rows: repeat(20, 100px);
    /* grid-gap: 10px; */
    /* column-gap: 10px; */
    /* row-gap: 10px; */
    /* justify-content: center; */
    text-align: center;
    
}

.item{
    border: 1px solid red;
}